.content
  margin-top: 1px
  width: 100%
  overflow: hidden
  border-bottom: 1px solid #6c7c00

.wrapper
  display: flex
  width: 100%
  animation: slide 10s infinite linear

  img
    margin: -5% 0 0 0
    width: 100%
    object-fit: cover

@keyframes slide
  0%
    transform: translateX(0)

  25%
    transform: translateX(0)
  30%
    transform: translateX(-100%)
  50%
    transform: translateX(-100%)
  55%
    transform: translateX(-200%)
  75%
    transform: translateX(-200%)
  80%
    transform: translateX(-200%)
  100%
    transform: translateX(-200%)

h2
  margin: 10px 30px
  font-size: 25px

.items
  display: grid
  place-items: center
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: repeat(1, 1fr)
  grid-column-gap: 11px
  margin-top: 55px

  @media screen and (max-width: 1400px)
    grid-template-columns: repeat(3, 1fr)

  @media screen and (max-width: 1060px)
    grid-template-columns: repeat(2, 1fr)

  @media screen and (max-width: 649px)
    grid-template-columns: repeat(1, 1fr)
