.pizza_block
  margin-bottom: 55px
  width: 280px
  text-align: center
  background-color: #b9d1ea
  border-radius: 10px
  box-shadow: 0px 2px 4px #00000066
  box-sizing: border-box
  transition: all 0.2s ease-in-out

  @media screen and (max-width: 387px)
    width: 250px

  &:hover
    transform: scale(1.03)

  &.wrapper
    display: flex
    justify-content: center

  &_image
    height: 200px
    width: 100%
    border-bottom: 2px solid #fff
    border-radius: 10px 10px 0 0

  &_title
    font-size: 20px
    font-weight: 900
    margin: 10px 0 20px 0
